/**
  19.01.2018:
  Inspiré du style css créé par Niels mais tout refait car il était en css et non en sass,
  ILJAZI Dardan
 */

$black: darken(#2c3e50, 10%);
$grey: #95a5a6;
$lightGrey: #ecf0f1;
$red: #c0392b;
$lightRed: #e74c3c;
$blue: #34495e;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Lato-Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato-Regular;
  color: $grey;
  line-height: 1.4;
}

/** GENERAL MIXINS **/
@mixin box-shadow($color: rgba(0, 0, 0, 0.15)) {
  -webkit-box-shadow: 0px 0px 40px 0px $color;
  -moz-box-shadow: 0px 0px 40px 0px $color;
  box-shadow: 0px 0px 40px 0px $color;
}

/** --END GENERAL MIXINS **/

/** FONTS **/
@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato-Bold.ttf');
}

/** -- END FONTS **/

/** TOP OF HOME PAGE **/

.top-page{
  margin-top: 5vh;
  margin-bottom: 10vh;
}
/** -- END TOP OF HOME PAGE **/


/** TABLE **/

%force-white-color {
    color: white !important;
}

table {
  width: 90%;
  margin: auto;
  text-align: center;
  @include box-shadow();
  border-radius: 10px;
  overflow: hidden;

  thead {
    th {
      &:first-child {
        padding-left: 40px;
      }

      padding: 20px 0 20px 0px;
      background-color: $blue;
      font-family: Lato-Bold;
      font-size: 18px;
      color: #fff;
      line-height: 1.4;
    }
  }

  tbody {
    td {
      font-family: Lato-Regular;
      padding: 16px 0 16px 0;
      font-size: 15px;
      color: $grey;
      line-height: 1.4;
    }
  }
}

.not-initialized {
  background-color: $lightGrey;
  //@extend %force-white-color;
}

.absent {
  background-color: $lightRed;
  @extend %force-white-color;
}

.used {
  background-color: $blue;
  @extend %force-white-color;
}

.deleted{
  background-color: $black;
  @extend %force-white-color;
}

/** -- END TABLE **/

